SUPABASE_URL=https:https://kmilrawuwsajyxgwtljl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImttaWxyYXd1d3Nhanl4Z3d0bGpsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIwMzQ2MCwiZXhwIjoyMDkwNzc5NDYwfQ.x1OMEf410Z-pRBZWkuwqtbbM09JauEfUQr0BThpe63Q
FRONTEND_ORIGIN=http://localhost:5173
PORT=4000
