VITE_API_URL=http://localhost:4000
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImttaWxyYXd1d3Nhanl4Z3d0bGpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMDM0NjAsImV4cCI6MjA5MDc3OTQ2MH0.tfs5ykxTQxJl2G2riJiELJ2KthELE7GmmQYOX-r8Ji0
VITE_SUPABASE_URL=https://kmilrawuwsajyxgwtljl.supabase.co
